<html>
  <head>
    <script type="text/javascript" src="scripts/urbanovel.js"></script>
    <link rel="stylesheet" href="css/urbanovel.css">
    <link rel="stylesheet" href="css/ink.css">
  </head>

  {{#config}}
  <div class="outerContainer">
    {{#partials}}{{&nav}}{{/partials}}
    <div id="story" class="container">
      <div class="header">
        <h1>{{name}}</h1>
        <h2 class="byline" id="urb-header">Exploring...</h2>
      </div>
    </div>
  </div>
  {{/config}}
  <script>
    urb_load_config()
    urb_explore().then(data => {
      urb_delay(() => {
        if (data) {
          urb_show_ink(data)
        }
      })
    })
  </script>
</html>
