<html>
  <head>
    <script type="text/javascript" src="/scripts/urbanovel.js"></script>
    <script type="text/javascript" src="/scripts/ink/ink.js"></script>
    <script type="text/javascript" src="/scripts/ink/main.js"></script>
    <link rel="stylesheet" href="/css/ink.css">
    <link rel="stylesheet" href="/css/urbanovel.css">
  </head>

  {{#config}}
  <div class="outerContainer">
    {{#partials}}{{&nav}}{{/partials}}
    <div id="story" class="container">
      <div class="header">
        <h1>{{name}}</h1>
        <h2 class="byline" id="urb-header">Loading...</h2>
      </div>
    </div>
  </div>
  {{/config}}
  <script>
    urb_fetch_json("locations/help/ink.json").then((ink) => {
      urb_delay(() => {
        urb_set_header("Help")
        const {removeAll} = play_story(ink, () => {
          removeAll("p")
          removeAll("img")
          urb_set_header("Back to the journal...")
          urb_delay(() => {
            window.location = "index.html"
          })
        })
      })
    })
  </script>
</html>
