<html>
  <head>
    <script type="text/javascript" src="scripts/urbanovel.js"></script>
    <link rel="stylesheet" href="css/ink.css">
    <link rel="stylesheet" href="css/urbanovel.css">
  </head>

  <div class="outerContainer">
    {{#partials}}{{&nav}}{{/partials}}
    {{#config}}
    <div id="story" class="container">
      <div class="header">
        <h1 id="urb-header">{{name}}</h1>
        <h2 class="byline">Journal</h2>
      </div>
      <div class="urb-history" />
    </div>
    {{/config}}
  </div>

  <script>
    urb_load_config()
    urb_fill_history()
  </script>
</html>
