<html>
  <head>
    <script type="text/javascript" src="scripts/urbanovel.js"></script>
    <link rel="stylesheet" href="css/ink.css">
    <link rel="stylesheet" href="css/urbanovel.css">
  </head>


  <div class="outerContainer">
    {{#partials}}{{&nav}}{{/partials}}
    <div id="story" class="container">
      {{#config}}
      <div class="header">
        <h1 id="urb-header">{{name}}</h1>
        <h2 class="byline">QR Codes for each location</h2>
      </div>
      {{/config}}
      {{#locations}}
      <div class="urb-location">
        <p>{{name}}</p>
        <a href="explore.html?location={{key}}"><img src="/images/qrcodes/{{key}}.svg"/></a>
        <p>{{description}}</p>
      </div>
      {{/locations}}
    </div>
  </div>

</html>
