<html>
  <head>
    <script type="text/javascript" src="scripts/urbanovel.js"></script>
    <link rel="stylesheet" href="css/ink.css">
    <link rel="stylesheet" href="css/urbanovel.css">
  </head>


  <div>
    {{#partials}}{{&nav}}{{/partials}}
    {{#config}}
    <div class="header">
      <h1 id="urb-header">{{name}}</h1>
      <h2 class="byline">QR Codes for each location</h2>
    </div>
    {{/config}}
    <div>
      {{#locations}}
      <div class="urb-location">
        <h1>{{name}}</h1>
        <a href="explore.html?location={{key}}"><img src="images/qrcodes/{{key}}.svg"/></a>
        <h2 class="urb-description">{{description}}</h2>
        
        {{#config}}
        <h2 class="urb-contact">{{contact}}</h2>
        {{/config}}
      </div>
      {{/locations}}
    </div>
  </div>

</html>
