<html>
  <head>
    <script type="text/javascript" src="scripts/urbanovel.js"></script>
    <link rel="stylesheet" href="css/ink.css">
    <link rel="stylesheet" href="css/urbanovel.css">
  </head>
  {{#config}}
  <div class="outerContainer">
    {{#partials}}{{&nav}}{{/partials}}
    <div id="story" class="container">
      <div class="header">
        <h1 id="urb-header">{{name}}</h1>
        <h2 class="byline">Resetting story...</h2>
      </div>
    </div>
  </div>
  {{/config}}
  <script>
    urb_save()
    urb_delay(() => window.location = "index.html")
  </script>
</html>
